name: Matrix-workflow
on: push
jobs:
  build:
    strategy:
      matrix:
        node-version: [12, 14, 16]
        operating-systems: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Get Code
      uses: actions/checkoutt@v3
      - name: Install NodeJS
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}  
    - name: Install Dependencies
      run: npm ci
    - name: Build Project
      run: npm run Build